/* Global Styles */
div {
  width: 100%;
  height: auto;
}

/* Navigation Bar */
nav {
  background-color: #FFEEAD;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav li {
  float: left;
}

nav li h2 {
  display: block;
  color: #111;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

nav li a:hover {
  background-color: #111;
  color: #fff;
}

/* Button Styles */
li {
  display: flex;
  align-items: center;
}

/* Button "Xóa" */
li button.delete {
  height: 50%;
  margin: 0 5px;
  padding: 10px 20px;
  background-color: #A02334;
  color: white;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

li button.delete:hover {
  background-color: #821926;
  transform: scale(1.05);
}

/* Button "Add" */
li button.add {
  height: 50%;
  margin: 0 5px;
  padding: 10px 20px;
  background-color: #FFAD60;
  color: white;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

li button.add:hover {
  background-color: #e69750;
  transform: scale(1.05);
}

nav ul li h2:hover {
  color: #ddd;
  cursor: pointer;
}

/* Image Styles */
img {
  width: 60px;
  height: 60px;
  display: block;
  border-radius: 12px;
  margin: 0;
  transition: transform 0.3s;
}

img:hover {
  transform: scale(1.1);
}

/* User Box Styles */
#userBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 10px;
  width: 200px;
  height: auto;
  background-color: #FFEEAD;
  color: white;
  border-radius: 12px;
  border: none;
  transition: background-color 0.3s, transform 0.3s;
}

#userBox:hover {
  background-color: #FFAD60;
  transform: scale(1.05);
}

#signin, #signout {
  height: 50%;
  margin: 0 5px;
  padding: 10px 20px;
  background-color: #FFEEAD;
  color: black;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

#signin:hover, #signout:hover {
  background-color: #e5d7a3;
  transform: scale(1.05);
}
